<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

        <style>
            h1 {
            color: var(--pico-color-slate-550);
            }
            </style>
    </head>
    <body>

        <nav>
            <a href="/">Home</a> | 
            <a href="/characters">Characters</a>
        </nav>

        <main class="container">
            {{ content | safe }}
        </main>
    </body>
</html>